body{
    background-image: url(https://getwallpapers.com/wallpaper/full/8/8/f/638615.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "TF2";
    src: url("tf2build.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
img.rot {
    animation: 7s linear 0s normal none infinite running rot;
    -webkit-animation: 15s linear 0s normal none infinite running rot;
    width: 50px;
  }
  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
   /* Кнопка выпадающего списка */
.dropbtn {
  font-family: "TF2";
  color: #CDBFB8;
  font-size: 26px;
  background:none;
  border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(53, 53, 53);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: #CDBFB8;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: rgb(80, 80, 80);}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}
header{
  width: 100%;
  height: 50px;
  background-color:rgb(53, 53, 53);
}
.sus{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 55px;
  padding: 0 30px;
}
.sus a {
  margin: 30px;
  color: #CDBFB8;
  font-size: 26px;
  text-decoration: none;
  font-family: "TF2";
}
.maggi{
  position:relative;
  right: 60px;
}
.huh{
  display: flex;
  justify-content: right;
  margin-right: 30%;
}
.reg{
  font-family: "TF2";
  border-radius: 4px 4px 0 0;
  padding: 4px;
  width: 120px;
  text-align: justify;
  background-color:#a1a19a;
}
.ss{
  color: #4c6f7c;
  text-decoration: none;
  font-family: "TF2";
}
.ss2{
  color: #942d2d;
  text-decoration: none;
  font-family: "TF2";
}
.box1{
    width: 890px;
    padding: 15px;
    margin: auto;
    text-align: justify;
    background-color: #6b6a65;
    border-radius: 6px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    background: linear-gradient(#6b6a65,#363633);
}
.rers{
  justify-content: center;
  display: flex;
  align-items: center;
}
.pe{
  margin-top: 25px;
  width: 860px;

}
.d{
  width: 100%;
  border-radius: 4px;
  margin-top: 15px;
}
.text{
  color: #241c1a;
}
.text2{
  font-size: 15 px;
  color: #241c1a;
}
ul {
	list-style-type: square;
  margin-left:40px ;
}
.box2{
    font-family: "TF2";
    border-radius: 4px;
    padding: 20px;
    margin: 10px auto;
    background-color:#a1a19a;
    text-align: justify;
}
.box3{
    font-family: "TF2";
    border-radius: 4px;
    display: inline-block;
    padding: 15px;
    background-color:#a1a19a;
    text-align: justify;
}
.mm{
  display: flex; 
  justify-content:space-between;
  justify-content: center;
  display: flex;
  align-items: center;
}
.block2{
    width: 100%;
    position:static;
    top: 80px;
    justify-content: center;
    left: 0;
}
.novosti {
  text-align: center;
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 50px;
  font-family: "TF2";
  color: #6b6a65 ;
} 
.colum{
  text-transform: uppercase;   
}
.sobbe{
  display: flex;
  margin-top: 30px;
}
.mmem{
  font-family: "TF2";
  margin-right: 10px;
  color: #3899da;
}
.blox{
  background-color: rgb(20, 168, 20);
  border-radius: 7px;
  padding: 0 8px 0 8px;
}
.pepe{
  font-family: "TF2";
  color: #a7a7a7;
}
.pepe-fer{
  font-family: "TF2";
  color: rgb(19, 63, 19);
}
.nove{
  margin-top: 17px;
  font-family: "TF2";
  font-size: 35px;
  color: #c4a590;
}
#elem{
  margin-top: 30px;
  border-bottom: 3px solid rgb(22, 16, 16);
}