body{
  background-image: url(https://i.imgur.com/OH3wf.png);
  background-repeat: no-repeat;
  background-size: cover;
}*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: "TF2";
  src: url("tf2build.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
img.rot {
  animation: 7s linear 0s normal none infinite running rot;
  -webkit-animation: 15s linear 0s normal none infinite running rot;
  width: 50px;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 /* Кнопка выпадающего списка */
 .dropbtn {
  font-family: "TF2";
  color: #CDBFB8;
  font-size: 26px;
  background:none;
  border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(53, 53, 53);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: #CDBFB8;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: rgb(80, 80, 80);}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}
header{
  width: 100%;
  height: 50px;
  background-color:rgb(53, 53, 53);
}
.sus{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 55px;
  padding: 0 30px;
}
.sus a {
  margin: 30px;
  color: #CDBFB8;
  font-size: 26px;
  text-decoration: none;
  font-family: "TF2";
}
.maggi{
  position:relative;
  right: 60px;
}
.novosti {
text-align: center;
font-size: 70px;
margin-bottom: 10px;
margin-top: 50px;
font-family: "TF2";
color: #6a4535 ;
} 
.colum{
text-transform: uppercase;   
}

.person{
    justify-content: center;
    position: relative;
    align-items: center;
    width: 1000px;
    padding: 15px;
    margin: 35px auto;
    text-align: justify;
    background-color: #6b6a65;
    border-radius: 4px;
    box-shadow: 10px 10px 20px #000000;
    background: linear-gradient(#6b6a65, #363633);
}
.change-color-link{
  color: #9d312f; /* Цвет ссылки */
  font-size: 40px;
  font-family: "TF2";
  font-weight: bold;
  padding: 20px 0px;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: all 1s ease;
          transition: all 1s ease; /* Время изменения цвета */
}
.change-color-link:hover{
  color: #395c78; /* Меняем цвет ссылки */
}
.tartar{
  text-align: justify;
  position: absolute;
  z-index: 100;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.tata{
  font-family: "TF2";
  font-size: 20px;
  position:relative;
  color: #f1f1f1;
  margin-bottom: 15px;
  margin-top: 15px;
}
.tata2{
  font-family: "TF2";
  position:relative;
  color: #aa968d;
  margin-top: 15px;
  line-height: 1.2;
}
.tata3{
  margin-left: 30px;
  font-family: "TF2";
  font-size: 15px;
  position:relative;
  color: #f1f1f1;
  margin-bottom: 20px;
}
.ss{
  color: #ad4545;
  text-decoration: none;
  font-family: "TF2";
}
.imeg{
  justify-content: center;
  position: relative;
  height:400px;
  border-radius: 4px;
  margin-bottom: 50px;
  background-color: #161616; 
  overflow: hidden;
}
.imeg::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.577);
}

.img-1 {
  background: url(/персонажи/scout.png);
  background-size: cover; 
}

.img-2 {
  background: url(/персонажи/soldier.png);
  background-size: cover; 
}
.img-3{
  background: url(/персонажи/pyro.png);
  background-size: cover;
}
.img-4{
  background: url(/персонажи/negr.png);
  background-size: cover;
}
.img-5{
  background: url(/персонажи/heavy.png);
  background-size: cover;
}
.img-6{
  background: url(/персонажи/engineer.png);
  background-size: cover;
}
.img-7{
  background: url(/персонажи/medic.png);
  background-size: cover;
}
.img-8{
  background: url(/персонажи/sniper.png);
  background-size: cover;
}
.img-9{
  background: url(/персонажи/spy.png);
  background-size: cover;
}